<% include partials/header %>
<h1><%=campground.name%></h1>

<img src="<%= campground.image %>">

<p><%= campground.description %></p>

<% campground.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>

<form action="/campgrounds/<%= campground._id%>" method="POST">
    <div>
		<input type="text" name="user" placeholder="guest">
		<input type="text" name="comment" placeholder="comment goes here">
		<input type="submit" value="Post as Guest" class="btn btn-primary">
    </div>
 </form>

<% include partials/footer %>